-- Migration pour forcer la mise Ã  jour du stock et vÃ©rifier les triggers

-- VÃ©rifier et recrÃ©er le trigger de mise Ã  jour du stock
DROP TRIGGER IF EXISTS trigger_update_product_stock ON stock_movements;

-- RecrÃ©er la fonction de mise Ã  jour du stock
CREATE OR REPLACE FUNCTION update_product_stock()
RETURNS TRIGGER AS $$
BEGIN
    -- Mettre Ã  jour le stock actuel du produit
    UPDATE products 
    SET 
        current_stock = (
            SELECT COALESCE(SUM(
                CASE 
                    WHEN movement_type = 'in' THEN quantity
                    WHEN movement_type = 'out' THEN -quantity
                    WHEN movement_type = 'adjustment' THEN quantity
                    WHEN movement_type = 'transfer' THEN 
                        CASE 
                            WHEN reference_type = 'transfer' AND reference_id IS NOT NULL THEN -quantity
                            ELSE quantity
                        END
                    ELSE 0
                END
            ), 0)
            FROM stock_movements 
            WHERE product_id = COALESCE(NEW.product_id, OLD.product_id)
        ),
        updated_at = NOW()
    WHERE id = COALESCE(NEW.product_id, OLD.product_id);
    
    RETURN COALESCE(NEW, OLD);
END;
$$ LANGUAGE plpgsql;

-- RecrÃ©er le trigger
CREATE TRIGGER trigger_update_product_stock
    AFTER INSERT OR UPDATE OR DELETE ON stock_movements
    FOR EACH ROW
    EXECUTE FUNCTION update_product_stock();

-- Forcer la mise Ã  jour du stock pour tous les produits
UPDATE products 
SET 
    current_stock = COALESCE((
        SELECT SUM(
            CASE 
                WHEN movement_type = 'in' THEN quantity
                WHEN movement_type = 'out' THEN -quantity
                WHEN movement_type = 'adjustment' THEN quantity
                WHEN movement_type = 'transfer' THEN 
                    CASE 
                        WHEN reference_type = 'transfer' AND reference_id IS NOT NULL THEN -quantity
                        ELSE quantity
                    END
                ELSE 0
            END
        )
        FROM stock_movements 
        WHERE product_id = products.id
    ), 0),
    updated_at = NOW();

-- Afficher un rÃ©sumÃ© des stocks mis Ã  jour
SELECT 
    'Stocks mis Ã  jour' as info,
    COUNT(*) as total_products,
    SUM(current_stock) as total_stock,
    COUNT(CASE WHEN current_stock > 0 THEN 1 END) as products_with_stock,
    COUNT(CASE WHEN current_stock = 0 THEN 1 END) as products_without_stock
FROM products;
